/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 juin 2022, 00:50:12
    Author     : nathan
*/
.artifact{
    max-width: 350px;
    font-family: "HYWenHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.artifact.stars-3 .artifact-main-info {
    background-image: linear-gradient(90deg, rgb(65, 71, 98), rgb(65, 100, 121), rgb(64, 119, 137));
    background-color: initial;
}

.artifact.stars-3 .set-name {
    background-color: rgb(42, 81, 144);
}

.artifact.stars-4 .artifact-main-info {
    background-image: linear-gradient(90deg, rgb(82, 73, 114), rgb(82, 73, 114), rgb(92, 60, 113));
    background-color: initial;
}

.artifact.stars-4 .set-name {
    background-color: rgb(91, 26, 145);
}

.artifact.stars-5 .artifact-main-info {
    background-image: linear-gradient(90deg, rgb(99, 73, 66), rgb(138, 98, 66), rgb(147, 100, 30));
    background-color: initial;
}

.artifact.stars-5 .set-name {
    background-color: rgb(152, 86, 40);
}

.artifact-main-info-content {
    background-image: url(https://cdn.genshin.cc/assets/bg/item_tip.png)!important;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 240px;
}

.artifact-sub-info {
    background-color: rgb(58, 46, 27);
    color: rgb(157, 148, 136);
}

.padding-vertical-0{
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    --bs-gutter-x:0;
}

.artifact-icon{
    position:absolute;
    top: 39px;
    right: 10px;
    height: 150px;
    width: 150px;
}

.artefact-main-stat{
    color: #b7a59b;
    line-height: 1.2;
}

.min-height-150{
    min-height: 150px;
}

.margin-top-2{
    margin-top: 2rem;
}