.button{
   padding: 7px 13px;
   border: 1px solid #4A4A4A;
   background: #2B3035;
   font-size: 20px;
   justify-content: center;
   align-content: center; 
}

.border-left{
    border-radius: 6px 0px 0px 6px;
}

.border-right{
    border-radius: 0px 6px 6px 0px;
}

.text{
    padding: 6px 23px;
    border: 1px solid #4A4A4A;
    background: #1E1E1E;
    font-size: 20px;
}