.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
}

.artifact {
  max-width: 350px !important;
  font-family: "HYWenHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.artifact.stars-3 .artifact-main-info {
  background-image: linear-gradient(
    90deg,
    rgb(65, 71, 98),
    rgb(65, 100, 121),
    rgb(64, 119, 137)
  );
  background-color: initial;
}

.artifact.stars-3 .set-name {
  background-color: rgb(42, 81, 144);
}

.artifact.stars-4 .artifact-main-info {
  background-image: linear-gradient(
    90deg,
    rgb(82, 73, 114),
    rgb(82, 73, 114),
    rgb(92, 60, 113)
  );
  background-color: initial;
}

.artifact.stars-4 .set-name {
  background-color: rgb(91, 26, 145);
}

.artifact.stars-5 .artifact-main-info {
  background-image: linear-gradient(
    90deg,
    rgb(99, 73, 66),
    rgb(138, 98, 66),
    rgb(147, 100, 30)
  );
  background-color: initial;
}

.artifact.stars-5 .set-name {
  background-color: rgb(152, 86, 40);
}

.artifact-main-info-content {
  background-image: url(https://cdn.genshin.cc/assets/bg/item_tip.png) !important;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 240px;
}

.artifact-sub-info {
  background-color: rgb(58, 46, 27);
  color: rgb(157, 148, 136);
}

.padding-vertical-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  --bs-gutter-x: 0 !important;
}

.artifact-icon {
  position: absolute;
  top: 39px;
  right: 10px;
  height: 150px;
  width: 150px;
}

.artefact-main-stat {
  color: #b7a59b;
  line-height: 1.2;
}

.min-height-150 {
  min-height: 150px;
}

.margin-top-2 {
  margin-top: 2rem;
}

.flex{
  display: flex;
}

.padding-vertical-1rem{
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-left-1rem{
  padding-left: 1rem;
}

.padding-0{
  padding: 0;
}

.padding-left-14px{
  padding-left: 14px;
}

.margin-left-1rem{
  margin-left: 1rem;
}

.margin-left-36px{
  margin-left: 36px;
}

.margin-top-21px{
  margin-top: 21px;
}

.margin-right-3px{
  margin-right: 3px;
}

.genshin-font{
  font-family: HYWenHei;
}

.text-size-26px {
  font-size: 26px;
}

.width-69px{
  width: 69px;
}

.width-37px{
  width: 37px;
}

.width-20px{
  width: 20px;
}

:root{
  --dendro-bg-color: #2D8E34;
  --geo-bg-color: #BB9F4B;
  --anemo-bg-color: #52B0B1;
  --cryo-bg-color: #46A8BA;
  --hydro-bg-color: #84A1C6;
  --electro-bg-color: #9876AD;
  --pyro-bg-color: #ba8c83;
  --dendro-color: #a5ffab;
  --geo-color: #ffc64a;
  --anemo-color: #71fdec;
  --cryo-color: #98efff;
  --hydro-color: #56a2ff;
  --electro-color: #ffa1ff;
  --pyro-color: #f58453;
  --fourstar-color: linear-gradient(180deg,#5e5789,#9c75b7);
  --fivestar-color: linear-gradient(180deg,#6B5551,#E6B057);
}