<div class="panel panel-default">
	<div class="panel-heading">import Data</div>
	<div class="panel-body">
            <form action="/import" method="post">
                <!--<label for="jsonFile">selectionner le fichier json</label>
                <input type="file" id="jsonFile">-->
                <label for="jsonTextArea">coller le text au format JSON</label>
                <input type="text" id="jsonTextArea">
                <button type="submit">uploader</button>
            </form>
	</div>
	
</div>
