<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html ng-app="app">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <base href="/" />
        <link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/5.1.3/css/bootstrap.css" />
        <link rel="stylesheet" th:href="@{/style.css}"/>
        <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
        <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
        <script src="/webjars/angularjs/1.8.2/angular.js"></script>
        <script src="/webjars/angularjs/1.8.2/angular-route.js"></script>
        <script src="https://kit.fontawesome.com/c1fc0d2776.js" crossorigin="anonymous"></script>
        <script th:src="@{/app.js}"></script>
        <script th:src="@{/homeController.js}"></script> 
    </head>
    <body ng-controller="home_controller">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a href="/" class="nav-link">Acceuil</a>
                        <li class="nav-item"><a href="/importData/" class="nav-link">Import Data</a>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <form>
                <!--<div class="row">
                    <div class="card col" ng-repeat="artefact in artifacts">
                        <div class="card-body">
                            <h5 class="card-title">{{artefact.slotKey}}</h5>
                            <div class="mb-3">
                                <label for="mainStat" class="form-label">Main Stat</label>
                                <select class="form-select" id="mainStat" disabled ng-model="artefact.mainStat">
                                    <option selected value="hp">PV</option>
                                </select>
                            </div>
                            <div ng-repeat="substatRes in artefact.substats">
                                <div class="mb-3">
                                    <label for="subStat" class="form-label">subStat 1</label>
                                    <select class="form-select" id="subStat" ng-model="substatRes">
                                        <option value=""></option>
                                        <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>-->
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Fleur</h5>
                            <div class="mb-3">
                                <label for="mainStatFleur" class="form-label">Main Stat</label>
                                <select class="form-select" id="mainStatFleur" ng-model="artifacts[0].mainStat" disabled>
                                    <option selected value="hp">PV</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat1Fleur" class="form-label">subStat 1</label>
                                <select class="form-select" id="subStat1Fleur" ng-model="artifacts[0].substats[0]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat2Fleur" class="form-label">subStat 2</label>
                                <select class="form-select" id="subStat2Fleur" ng-model="artifacts[0].substats[1]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat3Fleur" class="form-label">subStat 3</label>
                                <select class="form-select" id="subStat3Fleur" ng-model="artifacts[0].substats[2]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat4Fleur" class="form-label">subStat 4</label>
                                <select class="form-select" id="subStat4Fleur" ng-model="artifacts[0].substats[3]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Plume</h5>
                            <div class="mb-3">
                                <label for="mainStatPlume" class="form-label">Main Stat</label>
                                <select class="form-select" id="mainStatPlume" ng-model="artifacts[1].mainStat" disabled>
                                    <option selected value="atk">ATK</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat1Plume" class="form-label">subStat 1</label>
                                <select class="form-select" id="subStat1Plume" ng-model="artifacts[1].substats[0]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat2Plume" class="form-label">subStat 2</label>
                                <select class="form-select" id="subStat2Plume" ng-model="artifacts[1].substats[1]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat3Plume" class="form-label">subStat 3</label>
                                <select class="form-select" id="subStat3Plume" ng-model="artifacts[1].substats[2]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat4Plume" class="form-label">subStat 4</label>
                                <select class="form-select" id="subStat4Plume" ng-model="artifacts[1].substats[3]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sablier</h5>
                            <div class="mb-3">
                                <label for="mainStatSablier" class="form-label">Main Stat</label>
                                <select class="form-select" id="mainStatSablier" ng-model="artifacts[2].mainStat">
                                    <option ng-repeat="stat in mainStatSablier" ng-value="stat.value">{{stat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat1Sablier" class="form-label">subStat 1</label>
                                <select class="form-select" id="subStat1Sablier" ng-model="artifacts[2].substats[0]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat2Sablier" class="form-label">subStat 2</label>
                                <select class="form-select" id="subStat2Sablier" ng-model="artifacts[2].substats[1]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat3Sablier" class="form-label">subStat 3</label>
                                <select class="form-select" id="subStat3Sablier" ng-model="artifacts[2].substats[2]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat4Sablier" class="form-label">subStat 4</label>
                                <select class="form-select" id="subStat4Sablier" ng-model="artifacts[2].substats[3]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Coupe</h5>
                            <div class="mb-3">
                                <label for="mainStatCoupe" class="form-label">Main Stat</label>
                                <select class="form-select" id="mainStatCoupe" ng-model="artifacts[3].mainStat">
                                    <option ng-repeat="stat in mainStatCoupe" ng-value="stat.value">{{stat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat1Coupe" class="form-label">subStat 1</label>
                                <select class="form-select" id="subStat1Coupe" ng-model="artifacts[3].substats[0]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat2Coupe" class="form-label">subStat 2</label>
                                <select class="form-select" id="subStat2Coupe" ng-model="artifacts[3].substats[1]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat3Coupe" class="form-label">subStat 3</label>
                                <select class="form-select" id="subStat3Coupe" ng-model="artifacts[3].substats[2]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat4Coupe" class="form-label">subStat 4</label>
                                <select class="form-select" id="subStat4Coupe" ng-model="artifacts[3].substats[3]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Couronne</h5>
                            <div class="mb-3">
                                <label for="mainStatCouronne" class="form-label">Main Stat</label>
                                <select class="form-select" id="mainStatCouronne" ng-model="artifacts[4].mainStat">
                                    <option ng-repeat="stat in mainStatCouronne" ng-value="stat.value">{{stat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat1Couronne" class="form-label">subStat 1</label>
                                <select class="form-select" id="subStat1Couronne" ng-model="artifacts[4].substats[0]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat2Couronne" class="form-label">subStat 2</label>
                                <select class="form-select" id="subStat2Couronne" ng-model="artifacts[4].substats[1]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat3Couronne" class="form-label">subStat 3</label>
                                <select class="form-select" id="subStat3Couronne" ng-model="artifacts[4].substats[2]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subStat4Couronne" class="form-label">subStat 4</label>
                                <select class="form-select" id="subStat4Couronne" ng-model="artifacts[4].substats[3]">
                                    <option value=""></option>
                                    <option ng-repeat="substat in subStats" ng-value="substat.value">{{substat.label}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="calculateBuild()">calculer</button>
            </form>
            <div class="card-deck">
                <div class="card artifact" ng-class="{'stars-3': res.rarity===3,'stars-4': res.rarity===4,'stars-5': res.rarity===5}" ng-repeat="res in artifactsRes">
                    <h5 class="card-header set-name">Nom Artefact</h5>
                    <div class="card-body artifact-main-info">
                        <div class="artifact-main-info-content">
                            <h4 class="card-subtitle">{{res.slotKey}}</h4>
                            <p class="card-text">{{getStatLabel(res.mainStatKey)}}</p>
                            <p class="card-text">Valeur main stat</p>
                            <span class="card-text" ng-show="res.rarity===3">
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                            </span>
                            <span class="card-text" ng-show="res.rarity===4">
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                            </span>
                            <span class="card-text" ng-show="res.rarity===5">
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                            </span>
                        </div>
                    </div>
                    <div class="card-body artefact-sub-info">
                        <span class="badge text-bg-dark">+{{res.level}}</span>
                        <ul>
                            <li class="card-text" ng-repeat="substat in res.substats" ng-hide="substat.key===null">{{formatStat(substat)}}</li>
                        </ul>
                        <p class="card-text">{{res.setKey}}</p>               
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">import Data</div>
                <div class="panel-body">
                    <form action="/import" method="post">
                        <!--<label for="jsonFile">selectionner le fichier json</label>
                        <input type="file" id="jsonFile">-->
                        <div class="mb-3">
                            <label for="jsonTextArea" class="form-label">coller le text au format JSON</label>
                            <input type="text" id="jsonTextArea" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">uploader</button>
                    </form>
                    <button class="btn btn-primary" ng-click="importArtefactFromJson()">uploader bouchon</button>
                </div>
            </div>
        </div>
    </body>
</html>
